<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="fixed top-0 bottom-0 left-0 w-64 h-full px-6 py-4 overflow-y-auto bg-blue-600">
        <div class="flex items-center">
            <img class="-ml-8" src="/public/img/logo.png" alt="">
            <h1 class="-ml-6 text-xl font-semibold text-white">VZ Store</h1>
        </div>
        <ul class="mt-2 -ml-5 text-white">
            <li class="mb-4">
                <div class="flex items-center px-6 rounded hover:bg-blue-700">
                    <i class="fa-solid fa-house"></i>
                    <a href="" class="block px-4 py-2 text-xl ">Trang chủ</a>
                </div>
            </li>
            <li class="mb-4">
                <div class="flex items-center px-6 rounded hover:bg-blue-700">
                    <i class="fa-solid fa-user"></i>
                    <a href="/admin/account" class="block px-4 py-2 text-xl ">Tài khoản</a>
                </div>
            </li>
            <li class="mb-4">
                <div class="flex items-center px-6 rounded hover:bg-blue-700">
                    <i class="fa-regular fa-bars-staggered"></i>
                    <a href="/admin/product" class="block px-4 py-2 text-xl ">Sản phẩm</a>
                </div>
            </li>
            <li class="mb-4">
                <div class="flex items-center px-6 rounded hover:bg-blue-700">
                    <i class="rotate-180 fa-solid fa-right-from-bracket"></i>
                    <a id="logoutButton" href="#" class="block px-4 py-2 text-xl ">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </nav>

    <!-- Content -->
    <div class="p-8 ml-64">
        <div class="grid grid-cols-2 gap-8">
            <!-- Product List -->
            <div class="p-6 bg-white rounded shadow-md">
                <h2 class="mb-4 text-xl font-semibold">Sản phẩm mới nhất</h2>
                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border">ID</th>
                            <th class="px-4 py-2 border">Tên sản phẩm</th>
                            <th class="px-4 py-2 border">Giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Product list content goes here -->
                        <% if(productlist && productlist.data.length > 0) {%>
                            <% var countproduct = 1; %>
                            <% productlist.data.forEach(itemProduct => { %>
                            <tr>
                                <td class="px-4 py-2 border"><%= countproduct %></td>
                                <td class="px-4 py-2 border"><%= itemProduct.name %></td>
                                <td class="px-4 py-2 text-red-500 border"><%= itemProduct.price %> đ </td>
                            </tr>
                            <% countproduct++; }); %>
                        <% } else { %>
                            <p>No product available</p>
                        <% } %>

                        
                    </tbody>
                </table>
            </div>

            <!-- Account List -->
            <div class="p-6 bg-white rounded shadow-md">
                <h2 class="mb-4 text-xl font-semibold">Tài khoản mới nhất</h2>
                <table class="w-full">
                    <thead>
                        <tr>
                            <th class="px-4 py-2 border">ID</th>
                            <th class="px-4 py-2 border">Username</th>
                            <th class="px-4 py-2 border">role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Account list content goes here -->
                        <% if(userlist && userlist.data.length > 0) {%>
                            <% var count = 1; %>
                            <% userlist.data.forEach(item => { %>
                                <tr>
                                    <td class="px-4 py-2 border"><%= count %></td>
                                    <td class="px-4 py-2 border"><%= item.username %></td>
                                    <td class="px-4 py-2 border"><%= item.role %></td>
                                </tr>
                            <% count++; }); %>
                        <% } else { %>
                            <p>No users available</p>
                        <% } %>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('logoutButton').addEventListener('click', function(event) {
        event.preventDefault(); 
        
        console.log("Logout Successfully");
        fetch('/api/v1/vzconn/auth/logout', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); 
            if (data.success) {
                window.location.href = '/';
            } 
        })
        .catch(error => {
            console.error('Error:', error); 
        });
    });

    
</script>
</html>