<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica, Arial, sans-serif;
    }

    html 
    {
        scroll-behavior: smooth;
    }

    li:hover #hover-content 
    {
        display: block;
    }

    #hover-content 
    {
        top: 100%;
        z-index: 10; 
    }

    #hover-content a:hover
    {
        color: rgb(43, 42, 42);
    }

    .product:hover,
    .home:hover
    {
        color: rgb(185, 185, 185);
    }

    #hover-content a
    {
        margin: 0 10px 0 10px;
    }

    .account
    {
        cursor: pointer;
    }

    .item
    {
        cursor: pointer;
    }

    .banner 
    {
        margin-top: -50px;
    }

    #menuToggle
    {
        cursor: pointer;
    }
    .menu-items 
    {
        list-style-type: none;
        padding: 0;
    }

    .menu-items li 
    {
        color: #333;
        margin-bottom: 10px;
        white-space: nowrap; 
    }

    .menu-items li:hover 
    {
        cursor: pointer;
        color: #777;
    }

    .dropdown-menu 
    {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 30px;
        top: 100%; 
        left: 0;
    }

    .mini
    {
        background: rgb(191,191,224);
        background: linear-gradient(90deg, rgba(191,191,224,1) 19%, rgba(0,212,255,1) 64%);
    }

</style>
<body>
    <header class="sticky top-0 z-50 header">
        <!-- Top header -->
        <div class="relative bg-gray-100 top-header">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex welcome">
                        <li class="mt-4 mb-4 mr-4 text-gray-400 list-none">Welcome to our shop</li>
                        <li class="mt-4 mb-4 mr-4 text-gray-400 list-none"><i class="mr-2 text-orange-500 fa-duotone fa-phone"></i>Call us: 0395xxxxxxxx</li>
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="relative mt-4 mb-4 mr-4 text-gray-400 list-none transition duration-300 account">
                            <% if(Name) {%>
                                Xin chào <%= Name.name %>
                            <%} else{%> 
                                My Account    
                            <%}%>
                            <i class="fa-solid fa-caret-down"></i>
                            <div class="absolute right-0 hidden p-4 bg-white border border-gray-200 shadow-md top-full" id="hover-content">
                                <div class="flex flex-col">  
                                    <% if (user) { %>
                                       <% if (user.data.role == "admin") {%>
                                            <a id="AdminButton" href="">Manage</a>
                                        <%}%>
                                            <a id="logoutButton" href="">Logout</a>
                                    <% } else { %>
                                        <a id="LoginButton" href="/login">Login</a>
                                        <a id="RegisterButton" href="/register">Register</a>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Bottom header -->
        <div class="bg-white bottom-header">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex flex-row">
                        <img class="" src="../../public/images/vzLogo.png" width="50px" alt="">
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="mt-10 mr-5 text-xl text-gray-700 list-none item mb-9"><i class="fa-regular fa-cart-shopping"></i></li>
                        <li class="mt-10 mr-5 text-xl text-gray-700 list-none item mb-9"><input type="text" placeholder="Tìm kiếm...."></li>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item product mb-9" href="">Liên hệ</a>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item product mb-9" href="">Sản phẩm</a>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item home mb-9" href="">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Banner -->
    <div class="bg-gray-100 banner pt-9">
        <div class="container xl:mx-auto">
            <div class="flex swiper">
                <div class="w-1/2">
                    <h1 class="mt-64 text-6xl text-uppercase text-wrap">SteelSeries Arctis Pro</h1>
                    <h1 class="text-6xl text-uppercase">+ GameDAC Black Edition</h1>
                    <button class="px-5 py-4 mt-5 text-xl font-bold text-white transition duration-300 bg-orange-500 rounded-md hover:bg-orange-700">Khám phá ngay</button>
                </div>
                <div class="w-1/2">
                    <img class="w-full h-auto transition-transform duration-500 transform hover:scale-110" src="https://product.hstatic.net/200000722513/product/81ilk0wep_l._ac__0f1c3bd8a989440eaee1fa294288d6ef_1024x1024.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- mini-banner -->
    <div class="flex justify-center p-5 mt-6 mini-banner">
        <div class="container xm:mx-auto">
            <div class="flex justify-center">
                <div class="flex-1 max-w-xl mr-8 overflow-hidden rounded-lg shadow-lg">
                    <div class="flex items-center p-8 transition-transform duration-500 transform mini hover:scale-110">
                        <img class="w-48 h-48" src="https://resource.logitech.com/content/dam/gaming/en/products/pro-wireless-gaming-mouse/pro-wireless-carbon-gallery-1.png" width="100%" alt="">
                        <strong class="ml-5 text-2xl ">LOGITECH G-PRO WIRELESS</strong>
                    </div>
                </div>
                <div class="flex-1 max-w-xl ml-8 overflow-hidden rounded-lg shadow-lg">
                    <div class="flex items-center p-8 transition-transform duration-500 transform mini hover:scale-110">
                        <img class="w-48 h-48" src="https://dangkeebs.com/cdn/shop/files/Paisleybase2.png?v=1710531636&width=1445" alt="">
                        <strong class="ml-5 text-2xl ">ANGRY MIAO CYBERBOARD R4</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="flex items-center justify-center h-full">
        <p class="mt-16 mb-10 text-5xl font-bold text-gray-600">Bàn phím cơ</p>
    </div>
    <!-- product list -->
    <div class="flex flex-wrap gap-10 mb-20 ml-20">
        <% if (product && product.data && product.data.length > 0) { %>
            <% product.data.forEach(item => { %>
                    <div class="flex-shrink-0 w-1/4 max-w-xs overflow-hidden transition-transform rounded shadow-lg cursor-pointer hover:scale-105">
                        <a href="/detail/<%= item.productid %>">
                            <img class="w-full" src="<%= item.image %>" alt="">
                            <div class="px-6 py-4">
                                <div class="mb-2 text-xl font-bold"><a class="transition duration-200 hover:text-red-300" href="/detail/<%= item.productid %>"><%= item.name %></a></div>
                                <div class="text-2xl font-bold text-red-500"><%= item.price %> đ</div>
                            </div>
                        </a>
                    </div>
            <% }); %>
        <% } else { %>
            <p>No products available</p>
        <% } %>
    </div>
    <!-- title -->
    <div class="flex items-center justify-center h-full">
        <p class="mt-16 mb-10 text-5xl font-bold text-gray-600">Chuột máy tính</p>
    </div>
    <!-- product list -->
    <div class="flex flex-wrap gap-10 mb-20 ml-20">
        <% if (productCMT && productCMT.data && productCMT.data.length > 0) { %>
            <% productCMT.data.forEach(item => { %>
                <div class="flex-shrink-0 w-1/4 max-w-xs overflow-hidden transition-transform rounded shadow-lg cursor-pointer hover:scale-105">
                    <a href="/detail/<%= item._id %>">
                        <img class="w-full" src="<%= item.image %>" alt="">
                        <div class="px-6 py-4">
                            <div class="mb-2 text-xl font-bold"><a class="transition duration-200 hover:text-red-300" href="/detail/<%= item._id %>"><%= item.name %></a></div>
                            <div class="text-2xl font-bold text-red-500"><%= item.price %> đ</div>
                        </div>
                    </a>
                </div>
            <% }); %>
            <% } else { %>
                <p>No products available</p>
            <% } %>
    </div>
    <!-- footer -->
    <footer class="p-12 bg-slate-100 mt-36">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <p class="text-xl text-gray-500">Ngôn ngữ phát triển ứng dụng mới</p>
                <ul class="flex">
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">Home</a></li>
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">About</a></li>
                    <li><a href="#" class="text-xl text-gray-500">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
      
</body>
<script>
    document.getElementById('logoutButton').addEventListener('click', function(event) {
        event.preventDefault(); 
        
        console.log("Logout Successfully");
        fetch('/api/v1/vzconn/auth/logout', {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data); 
            if (data.success) {
                window.location.href = '/';
            } 
        })
        .catch(error => {
            console.error('Error:', error); 
        });
    });

    
</script>
</html>