<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome" href="/css/app-wa-fba26eda6a3fd6b4d0ce0def1e2ba1d7.css?vsn=d">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    
        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Helvetica, Arial, sans-serif;
        }
    
        html 
        {
            scroll-behavior: smooth;
        }
    
        li:hover #hover-content 
        {
            display: block;
        }
    
        #hover-content 
        {
            top: 100%;
            z-index: 10; 
        }
    
        #hover-content a:hover
        {
            color: rgb(43, 42, 42);
        }
    
        .product:hover,
        .home:hover
        {
            color: rgb(185, 185, 185);
        }
    
        #hover-content a
        {
            margin: 0 10px 0 10px;
        }
    
        .account
        {
            cursor: pointer;
        }
    
        .item
        {
            cursor: pointer;
        }
    
        .banner 
        {
            margin-top: -50px;
        }
    
        #menuToggle
        {
            cursor: pointer;
        }
        .menu-items 
        {
            list-style-type: none;
            padding: 0;
        }
    
        .menu-items li 
        {
            color: #333;
            margin-bottom: 10px;
            white-space: nowrap; 
        }
    
        .menu-items li:hover 
        {
            cursor: pointer;
            color: #777;
        }
    
        .dropdown-menu 
        {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 30px;
            top: 100%; 
            left: 0;
        }
    
        .mini
        {
            background: rgb(191,191,224);
            background: linear-gradient(90deg, rgba(191,191,224,1) 19%, rgba(0,212,255,1) 64%);
        }
    </style>
</head>
<body>
    <header class="sticky top-0 z-50 header">
        <!-- Top header -->
        <div class="relative bg-gray-100 top-header">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex welcome">
                        <li class="mt-4 mb-4 mr-4 text-gray-400 list-none">Welcome to our shop</li>
                        <li class="mt-4 mb-4 mr-4 text-gray-400 list-none"><i class="mr-2 text-orange-500 fa-duotone fa-phone"></i>Call us: 0395xxxxxxxx</li>
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="relative mt-4 mb-4 mr-4 text-gray-400 list-none transition duration-300 account">
                            <% if(Name) {%>
                                Xin chào <%= Name.name %>
                            <%} else{%> 
                                My Account    
                            <%}%>
                            <i class="fa-solid fa-caret-down"></i>
                            <div class="absolute right-0 hidden p-4 bg-white border border-gray-200 shadow-md top-full" id="hover-content">
                                <div class="flex flex-col">
                                    <% if (user) { %>
                                        <% if (user.data.role == "admin") {%>
                                             <a id="AdminButton" href="/admin/manage">Manage</a>
                                         <%}%>
                                             <a id="logoutButton" href="">Logout</a>
                                     <% } else { %>
                                         <a id="LoginButton" href="/login">Login</a>
                                         <a id="RegisterButton" href="/register">Register</a>
                                     <% } %>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom header -->
        <div class="bg-white bottom-header">
            <div class="container xl:mx-auto">
                <div class="flex justify-between">
                    <div class="flex flex-row">
                        <img class="" src="/src/img/logo.png" alt="">
                    </div>
                    <div class="flex flex-row-reverse">
                        <li class="mt-10 mr-5 text-xl text-gray-700 list-none item mb-9"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></li>
                        <li class="mt-10 mr-5 text-xl text-gray-700 list-none shadow-md item mb-9 rounded-xl"><input class="pl-3 border border-none focus:outline-none rounded-xl active" type="text" placeholder="Tìm kiếm...."></li>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item product mb-9" href="/contact">Liên hệ</a>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item product mb-9" href="/productlist">Sản phẩm</a>
                        <a class="mt-10 mr-5 text-xl text-gray-700 list-none item home mb-9" href="/">Trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container flex ml-36">
        <div class="container flex p-8 mx-auto">
            <!-- Left Sidebar -->
            <div class="w-1/4 p-5">
                <div class="p-5 mr-6 rounded-lg shadow-md">
                    <h2 class="mb-4 text-xl font-semibold">Danh mục</h2>
                    <ul>
                        <% if( type && type.length > 0 ) {%>
                            <% type.forEach(item => { %>
                                <li class="mb-2"><a href="/productlist/<%= item.Typeid %>" class="text-black hover:text-gray-400"><%= item.name %></a></li>
                            <% }); %>
                        <%} %>
                        <!-- <li class="mb-2"><a href="#" class="text-black hover:text-gray-400">Chuột máy tính</a></li>
                        <li class="mb-2"><a href="#" class="text-black hover:text-gray-400">Tai nghe</a></li> -->
                    </ul>
                </div>
            </div>
            <!-- Right Content -->
            <div class="w-3/4">
                <h2 class="mb-4 ml-20 text-2xl font-semibold">Danh sách sản phẩm</h2>
                <div class="grid grid-cols-4 gap-10 mb-20 ml-20">
                    <% if(product && product.data && product.data.length > 0) {%>
                        <% product.data.forEach(itemProduct => { %>
                            <div class="flex-shrink-0 max-w-xs overflow-hidden transition-transform rounded shadow-lg cursor-pointer hover:scale-105">
                                <a href="/detail/<%= itemProduct.productid %>">
                                    <img class="w-full" src="<%= itemProduct.image %>" alt="">
                                    <div class="px-6 py-4">
                                        <div class="mb-2 text-xl font-bold"><a class="transition duration-200 hover:text-red-300" href="/detail/<%= itemProduct.productid %>"><%= itemProduct.name %></a></div>
                                        <div class="text-2xl font-bold text-red-500"><%= itemProduct.price %>đ</div>
                                    </div>
                                </a>
                            </div>
                        <%});%>
                    <% } else { %>
                        <p>No products available</p>
                    <% } %>
                    
                </div>
            </div>
          </div>
    </div>
    <!-- footer -->
    <footer class="p-12 bg-slate-100 mt-36">
        <div class="container mx-auto">
            <div class="flex items-center justify-between">
                <p class="text-xl text-gray-500">Ngôn ngữ phát triển ứng dụng mới</p>
                <ul class="flex">
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">Home</a></li>
                    <li class="mr-6"><a href="#" class="text-xl text-gray-500">About</a></li>
                    <li><a href="#" class="text-xl text-gray-500">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>